<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neighbor.ex.tong" >

    <permission
        android:name="com.neighbor.ex.tong.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.neighbor.ex.tong.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.neighbor.ex.tong.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.neighbor.ex.tong.permission.C2D_MESSAGE" />
    <!-- receives GCM messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.GPSTrack" />

        <activity
            android:name=".ui.activity.PhotoSendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.activity.SendMsgActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.activity.OilCamera"
            android:screenOrientation="landscape"
            />

        <service android:name=".GcmIntentService" />

        <receiver
            android:name=".GCMBroadCastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.neighbor.ex.tong" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.DataProvider"
            android:authorities="com.neighbor21.ex"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TimelineActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <!--
            <activity
            android:name=".ui.fragment.MapFragment"
            android:screenOrientation="portrait" />
        -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC57oej6yBeVNW6r7JJOXLQUYLW0uR186c" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activity.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.SendGroupMsgActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.activity.MainActivity2Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CarSearchActivity"
            android:label="@string/title_activity_car_search" >
        </activity>

        <service android:name=".LppService" />

        <!-- App Receiver -->
        <receiver
            android:name=".LppReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- System Service -->
        <service
            android:name="com.lpp.client.controlmanager.LppControlService"
            android:enabled="true"
            android:exported="true"
            android:process="com.lpp.client.controlmanager" >
            <intent-filter android:priority="1" >
                <action android:name="com.lpp.client.controlmanager.LppControlService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
